## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [3]:
A = 30
print (A)

30

2) Imprimir el tipo de dato de la variable 8.5

In [5]:
B = 2.5
print (type (B))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [7]:
A = 30
print (type (A))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [9]:
c = "Nicolas Beron"
print (c)

Nicolas Beron

5) Crear una constante que contenga el número Pi

In [12]:
import math
pi = math.pi
print (pi)

3.141592653589793

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [13]:
import math
pi = math.pi
print (type (pi))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** (número de euler) redondeado a 4 decimales

In [16]:
import math
Euler = round (math.e, 4)
print (Euler)

2.7183

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [22]:
luz = True
luz = True
print("true")

true

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [1]:
A = "true"
B = True
print = (type(A), type(B))

10) Asignar a una variable, la suma de un número entero y otro flotante

In [2]:
num= 5
num2= 3.2
rto = num+num2
print (rto)

8.2

11) Realizar una operación de suma de un número definido como string con un entero

In [1]:
A= int ("25")
B= 5
C= A+B
print (C)

30

12) Crear una variable que contenga el valor del punto 7 elevado al cubo (potencia de 3)

In [9]:
import math 
A= math.e
B= round (math.pow (A,3),4)
print(B)

20.0855

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [ ]:
num = int (input ("ingrese un numero"))
num2 = int (input("ingrese numero"))
operador == "*"
resultado = num*num2
print (resultado)

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [4]:
cociente = float(27/4)
print (cociente)

6.75

15) De la división anterior solamente mostrar la parte entera

In [5]:
cociente = (27//4)
print (cociente)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [6]:
cociente = (27%4)
print (cociente)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16, obtener 27 como resultado

In [7]:
a = 4 
b = 6
c = 3
z = a*b
print (z+c)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [ ]:
a = "2"
b = 2 
a==b

False

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [14]:
a = int ("2")
b = 2 
a==b

True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [17]:
a = float (3.8)
#porque el dato se redacta sin comillas y con . en vez de ,

21) Realizar la operación 10 + '10' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [4]:
a = '10'
b = 10
c= a+b
print (c)

TypeError: can only concatenate str (not "int") to str

22) Crear una variable que contenga un menú con los elementos MENU: 1 - Pizza, 2 - Empanadas, 3 - Milanesas, 4 - Salir, y luego mostrarlo por pantalla

In [20]:
menu= """
MENU
1-Pizza, 2-Empanadas, 3-Milanesas, 4-Salir
"""
print (menu)

MENU
1-Pizza, 2-Empanadas, 3-Milanesas, 4-Salir

23) Crear una lista que contenga los números del 1 al 10

In [ ]:
lista = 1,2,3,4,5,6,7,8,9,10
print(lista)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

24) Imprimir el penultimo elemento de la lista creada en el punto 23

In [22]:
lista = 1,2,3,4,5,6,7,8,9,10
print(lista[8])

9

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [25]:
lista = 1,2,"Nicolas",4,5,6,7,8,9,10
print(lista)

(1, 2, 'Nicolas', 4, 5, 6, 7, 8, 9, 10)

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [ ]:
matriz = [["A","B","C"],["D","E","F"],["G","H","I"]]

27) Imprimir la matriz creada en el punto 26

In [44]:
matriz = [["A","B","C"],["D","E","F"],["G","H","I"]]
print (matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [43]:
matriz = [["A","B","C"],["D","E","F"],["G","H","I"]]
matriz [1] [1] = "Z"
print (matriz)

[['A', 'B', 'C'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [56]:
matriz = [["A","B","C"],["D","E","F"],["G","H","I"]]
matriz [0] [0:3] = [1,2,3]
print (matriz)

[[1, 2, 3], ['D', 'E', 'F'], ['G', 'H', 'I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [68]:
Ropa = ("Adidas","Puma","Nike","DC","Chanel")
print (Ropa)

('Adidas', 'Puma', 'Nike', 'DC', 'Chanel')

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [67]:
Ropa = ("Adidas","Puma","Nike","DC","Chanel")
print (Ropa [0])

Adidas

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [ ]:
Ropa = ("Adidas","Puma","Nike","DC","Chanel")
Ropa [1] = "Gucci"
print (Ropa)
#Las Tupla no se pueden modificar

TypeError: 'tuple' object does not support item assignment

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [72]:
diccionario = ({"nombre": "Nicolas", "Apellido": "Beron", "edad": 28, "Hobbies": ["Leer", "Jugar futbol", "Jugar Videojuegos"] })
print (diccionario)

{'nombre': 'Nicolas', 'Apellido': 'Beron', 'edad': 28, 'Hobbies': ['Leer', 'Jugar futbol', 'Jugar Videojuegos']}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [75]:
diccionario = ({"nombre": "Nicolas", "Apellido": "Beron", "edad": 28, "Hobbies": ["Leer", "Jugar futbol", "Jugar Videojuegos"] })
print (diccionario ["Hobbies"])

['Leer', 'Jugar futbol', 'Jugar Videojuegos']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [77]:
diccionario = ({"nombre": "Nicolas", "Apellido": "Beron", "edad": 28, "Hobbies": ["Leer", "Jugar futbol", "Jugar Videojuegos"] })
diccionario ["edad"] = 30
print (diccionario ["edad"])

30